.header
  lost-column 1
  //lost-offset -1/10
  height 200px
  lost-align: center
  position: relative

.header__img
  display block
  width: 14%
  position absolute
  top 0
  border-radius: 500em;
  border:10px solid white;
  background white


.header-text-container
  font-family: Myriad Pro,Arial, Helvetica, sans-serif;
  position: absolute
  lost-flex-container row
  height 0

.header-text__1
  color #1A96C9
  font-size 5em
  lost-column 1/2
  position absolute
  top -260px
  left 320px
  z-index 2

.header-text__2
  display: inline
  color white
  lost-column 1/2
  font-size 5em
  position absolute
  top -259.5px
  left 867px
  z-index 2

.header-text__3
  color #08597A
  font-size 3em
  z-index 2
  position absolute
  lost-align: center
  top 85px
  left 750px