#nav-tabs
  list-style-type:none
  lost-column 1
  lost-flex-container row

.nav-bar
  padding-left 0
  margin-top 27px
  margin-bottom 33px
  lost-column 1
  lost-flex-container row
  height 36px
  list-style-type:none

.nav-bar__topic
  text-align: center;
  height 100%
  lost-column 2/6
  font-family: permanent_markerregular;
  font-size 2.1em
  list-style-type:none
  >a:active,a:focus {
    outline: none;
    text-decoration: none
  }
  >a
    text-decoration: none
    color #000078

.ui-tabs-active.nav-bar__topic
  text-decoration: underline


