@lost flexbox flex;

.container
  lost-flex-container row

.page__container
  lost-center 1500px
  min-width 1500px
  width 1500px
  margin-top 16vh
  margin-bottom 2vh
  border-radius 30px
  border:2px solid black;

