html
  background-color #b4dbee

.page__container
  background:
          radial-gradient(
                  #ffffff,
                  rgba(255, 255, 255, 0.99)
          );

.separator
  border-top: 3px double #8c8b8b;
  lost-center 86%
  width 86%

